*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(206, 252, 195);
    font-family: sans-serif;
}


.container{
    box-shadow: rgb(0, 43, 0) 3px 4px 25px;
    background-color: rgba(48, 88, 25, 0.4);
    height: 100%;
    margin: 3rem auto;
    border-radius: 1rem;
    width: 45rem;
}

.container h1{
    text-align: center;
    padding: 2rem;
}

.sub-section{
    padding: 3rem;
}

.content{
    height: 15rem;
    border:2px solid black ;
}

.overlay{
  top: 0;
  padding : 5px;
    background: rgba(0, 0, 0,0.7);
    position: absolute;
    border:2px solid black ;
    cursor: pointer;
    opacity: 0;
    transition:all .4s ease-in-out;
    width: inherit;
    height: inherit;
}
.overlay h3, .overlay p{
  color: white;
  opacity: 100%;
}
.image-container:hover .overlay
{
    opacity: 1;
}

.sub-section img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border:2px solid black ;
    cursor: pointer;
}
.side-content{
  padding: 3rem;
}

.def{
    opacity: 0;
}

.image-container{
  position: relative;
  width: 20rem;
  height: 10rem;
  margin-top: 2.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  float: left;
}
