*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(60, 61, 6);
}

.container{
    display: grid;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-weight: 700;

}
img{
   position: absolute;
   height: 37rem;
   width: 27.4rem;
   top: 2.2rem;
   filter: blur(2px);
   z-index: 1;
   left: 29rem;
   border-radius: 10px;
}

form{
    /* background-image: url(bgfrom.jpeg); */
    padding: 3rem;
    text-align: center;
    /* background-repeat: no-repeat; */
    box-shadow: 3px 4px 25px rgb(0, 0, 0);
    border-radius: 10px;
    z-index: 900;
}


.file{
    margin-left: 5rem;
}

form input{
    margin: 0 auto;
}

form label, input{
    display: block;   
    margin: 1rem;
    position: relative;
    padding: .2rem;
}

button{
   padding: .5rem;
   width: 6rem;
   background-color: transparent;
   border: 2px solid rgb(52, 65, 5);
   font-weight: 700;
   color: rgb(10, 9, 9);
   cursor: pointer;
   overflow: hidden;
}




